// variables
$wf : 100%;
$hf : 3rem;
$fs : 1.3rem;
$color : rgb( 35, 128, 254 );


/* clear body */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

// style Default layout
.container{
    
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
     
}

// Style Signup Components
.form-sign-up{

    border:3px solid black;
    border-radius: 1rem;
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-family: 'Roboto Mono',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    input{
 
        text-align: center;
        font-size:$fs;
        width:$wf;
        height: $hf;
        font-family: 'Roboto Mono','Courier New', Courier, monospace;
        
    }

    button{

        font-size:$fs;
        font-family: 'Roboto Mono','Courier New', Courier, monospace;
        width:$wf;
        height: $hf;
        border: none;
        background-color: $color;
        color: white;

    }
}

// style chat component
.container-chat{

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 60%;
    height: 70%;
    border: 4px solid black;
    
    .box-title{
        height: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb( 35, 128, 254 );
        border-bottom: 4px black solid;

        p{
            margin:10px;
            font-size: 2.5rem;
            font-family: 'Roboto Mono';
            color:white

        }
    }

    .box-chat{

        height: 100%;
        width: 100%;
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;

    }


    .container-control{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 3rem;
        border-top: 4px solid black;
        
        

        .input-msg{

            border: none;
            font-family: 'Comic Neue',cursive;
            width: 100%;
            height: 100%;
            font-size: 1rem;
            overflow:auto;
            resize: none;
            padding: 10px;
            
        }
        
        .btn_send{

            width: 3rem;
            height: 100%;
            border: none;
            font-family: 'Roboto',cursive;
            background: $color;
            color: white;
            font-size: 1.3rem;

        }

        .bar{

            height: 100%;
            width: 4px;
            background: black;

        }
    }
    
}
// style message components
.box-message{

    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
    .user-name{

        font-size: 1rem;
        font-family: 'Roboto Mono';
        word-wrap: break-word;

    }

    .text-msg{
        
        font-size: 1rem;
        font-family: 'Comic Neue';
        letter-spacing: 0;
        word-wrap: break-word;

    }
}

// helpers
.justify-right{
    align-self: flex-end;
}

.justify-left{
    align-self: flex-start;
}

.user-self{

    border: 1px $color solid;
    background: white;
    .user-name, .text-msg{
        color:black
    }
    
}

.user-other{
    background: $color;
    color: white;
    .user-name, .text-msg{
        color:white
    }
}